<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_newlines }}{% endif %}">
  
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700" rel="stylesheet" type="text/css" />
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />
  <script src="{{ '/js/mui.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
  <style>
      body {
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
      }
  </style>

  <!--<meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}" />-->
  <!--<meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}" />-->
  <!--{% if page.tags and page.tags.size > 0 %}-->
  <!--<meta name="keywords" content="{% for tag in page.tags %}{{ tag }}, {% endfor %}" />-->
  <!--{% elsif site.keywords %}-->
  <!--<meta name="keywords" content="{{ site.keywords }}" />-->
  <!--{% endif %}-->
  <!--<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_newlines }}{% endif %}" />-->
  <!--<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_newlines }}{% endif %}" />-->
  <!--{% if page.title %}-->
  <!--<meta property="og:type" content="article" />-->
  <!--{% else %}-->
  <!--<meta property="og:type" content="website" />-->
  <!--<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />-->
  <!--{% endif %}-->
  <!--<meta property="og:site_name" content="{{ site.title }}" />-->
  <!--{% if page.cover %}-->
  <!--&lt;!&ndash;<meta property="og:image" content="{{ site.base_url }}{{post.url}}/{{page.cover}}" />&ndash;&gt;-->
  <!--&lt;!&ndash;<meta property="twitter:image" content="{{ site.base_url }}{{post.url}}/{{page.cover}}" />&ndash;&gt;-->
  <!--{% else %}-->
  <!--<meta name="og:image" content="{{ site.base_url }}/img/sharer.png" />-->
  <!--<meta name="twitter:image" content="{{ site.base_url }}/img/sharer.png" />-->
  <!--{% endif %}-->
  <!--<meta name="twitter:card" content="summary" />-->


  <!--<meta property="og:title" content="The Rock"/>-->
  <!--<meta property="og:type" content="movie"/>-->
  <!--<meta property="og:url" content="http://www.imdb.com/title/tt0117500/"/>-->
  <!--<meta property="og:image" content="http://m.memegen.com/bhm04h.jpg"/>-->
  <!--<meta property="og:site_name" content="IMDb"/>-->
  <!--<meta property="og:description"-->
        <!--content="A group of U.S. Marines, under command of-->
                   <!--a renegade general, take over Alcatraz and-->
                   <!--threaten San Francisco Bay with biological-->
                   <!--weapons."/>-->



  <meta property="pageId" content="tt0117500" />
  <meta property="pageType" content="title" />
  <meta property="subpageType" content="main" />


  <meta property='og:image' content="https://images-na.ssl-images-amazon.com/images/M/MV5BZDJjOTE0N2EtMmRlZS00NzU0LWE0ZWQtM2Q3MWMxNjcwZjBhXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_UY1200_CR90,0,630,1200_AL_.jpg" />

  <meta property='og:type' content="article" />
  <meta property='fb:app_id' content='1575404429433593' />
  <meta property="fb:admins" content="vijay777pawar" />

  <meta property='og:title' content="KAVworks Technologies Pvt Ltd" />

  <meta property="og:url" content="hellourl.com"/>
  <meta property="og:description" content="Yoo this is description"/>


  <!--<meta property='og:site_name' content='IMDb' />-->
  <!--<meta name="title" content="The Rock (1996) - IMDb" />-->
  <!--<meta name="description" content="Directed by Michael Bay.  With Sean Connery, Nicolas Cage, Ed Harris, John Spencer. A mild-mannered chemist and an ex-con must lead the counterstrike when a rogue group of military men, led by a renegade general, threaten a nerve gas attack from Alcatraz against San Francisco." />-->
  <!--<meta property="og:description" content="Directed by Michael Bay.  With Sean Connery, Nicolas Cage, Ed Harris, John Spencer. A mild-mannered chemist and an ex-con must lead the counterstrike when a rogue group of military men, led by a renegade general, threaten a nerve gas attack from Alcatraz against San Francisco." />-->
  <!--<meta name="keywords" content="Reviews, Showtimes, DVDs, Photos, Message Boards, User Ratings, Synopsis, Trailers, Credits" />-->
  <!--<meta name="request_id" content="17378T55Q8QJAQMC9HG1" />-->


</head>
