---
layout: base
---


<!--<meta property="og:image" content="http://previews.123rf.com/images/artisticco/artisticco1112/artisticco111200028/11578932-A-vector-illustration-of-a-bride-carrying-shopping-bags-Stock-Vector.jpg">-->
<!--<meta property="og:image:url" content="http://previews.123rf.com/images/artisticco/artisticco1112/artisticco111200028/11578932-A-vector-illustration-of-a-bride-carrying-shopping-bags-Stock-Vector.jpg">-->
<!--<meta property="og:image:secure_url" content="http://previews.123rf.com/images/artisticco/artisticco1112/artisticco111200028/11578932-A-vector-illustration-of-a-bride-carrying-shopping-bags-Stock-Vector.jpg">-->
<!--<meta property="og:image:type" content="image/jpeg">-->
<!--<meta property="og:image:width" content="1200">-->
<!--<meta property="og:image:height" content="630">-->
<!--<meta property="og:type" content="article" />-->


<meta property="pageId" content="tt0117500" />
<meta property="pageType" content="title" />
<meta property="subpageType" content="main" />


<meta property='og:image' content="https://images-na.ssl-images-amazon.com/images/M/MV5BZDJjOTE0N2EtMmRlZS00NzU0LWE0ZWQtM2Q3MWMxNjcwZjBhXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_UY1200_CR90,0,630,1200_AL_.jpg" />

<meta property='og:type' content="video.movie" />
<meta property='fb:app_id' content='115109575169727' />

<meta property='og:title' content="The Rock (1996)" />
<meta property='og:site_name' content='IMDb' />
<meta name="title" content="The Rock (1996) - IMDb" />
<meta name="description" content="Directed by Michael Bay.  With Sean Connery, Nicolas Cage, Ed Harris, John Spencer. A mild-mannered chemist and an ex-con must lead the counterstrike when a rogue group of military men, led by a renegade general, threaten a nerve gas attack from Alcatraz against San Francisco." />
<meta property="og:description" content="Directed by Michael Bay.  With Sean Connery, Nicolas Cage, Ed Harris, John Spencer. A mild-mannered chemist and an ex-con must lead the counterstrike when a rogue group of military men, led by a renegade general, threaten a nerve gas attack from Alcatraz against San Francisco." />
<meta name="keywords" content="Reviews, Showtimes, DVDs, Photos, Message Boards, User Ratings, Synopsis, Trailers, Credits" />
<meta name="request_id" content="17378T55Q8QJAQMC9HG1" />


<body style="padding: 0">

  <article class="post-full">
    <header class="bg-holder post-page {% if page.color %}bg-{{ page.color }}{% endif %}" style="{% if page.cover %}background:url({{site.baseurl}}{{page.cover}}) no-repeat center center; background-size: cover{% endif %}">
      <a href="{{site.url}}/" class="overlay"><i class="fa fa-home fa-2x"></i></a>
      {% if page.cover %}<div class="img-overlay"></div>{% endif %}
    </header>
    <div class="mui-container mui-panel post-content">
      <h1 class="article-title"><a href="{{page.url}}">{{ page.title }}</a></h1>
      <p class="post-meta">by <a href="{{ site.url }}">{% if page.author %}{{ page.author }}{% else %}{{ site.full_name }}{% endif %}</a> on <time datetime="{{ page.date | date: "%Y-%m-%dT%H:%M" }}"><i class="fa fa-calendar"></i>{{ page.date | date: "%B %-d, %Y" }}</time>
      <span class="sharer">
        Share on: 
        <a class="sh-fb" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+window.location.href,'_blank','height=300,width=600');return false;"><i class="fa fa-facebook fa-lg"></i></a>
        {% if site.twitter %}
            <a class="sh-twt" href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+window.location.href+'&via={{ site.twitter }}','_blank','height=300,width=600');return false;"><i class="fa fa-twitter fa-lg"></i></a>
        {% else %}
            <a class="sh-twt" href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+window.location.href,'_blank','height=300,width=600');return false;"><i class="fa fa-twitter fa-lg"></i></a>
        {% endif %}
        </span>
      </p>
      {% if page.tags and page.tags.size > 0 %}
        <p class="post-tag-container">
            {% for tag in page.tags %}
            <span class="post-tag"><i class="fa fa-tag"></i>{{ tag }}</span>
            {% endfor %}
        </p>
      {% endif %}
      <div class="post-html">
          {{ content }}
      </div>
    {% if site.disqus %}
    <footer>
      <p><a href="#" id="showComments"><i class="fa fa-comment-o"></i>Comments</a></p>
      <div id="disqus_thread"></div>
    </footer>
    {% endif %}
    </div>
  </article>

  {% if site.disqus %}
  <script src="{{site.baseurl}}{{'/js/script.js'}}"></script>
  {% endif %}

